body {
  background-color: #1e1e1e;
  color: white;
  min-height: 100vh;
}
.page-container {
  position: relative;
  min-height: 100vh;
}
.content-wrap {
  padding-bottom: 2.5rem; /* Footer height */
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem; /* Footer height */
}

img.d-inline-block.align-top {
  background-color: white;
  border-radius: 50%;
}
.row {
  text-align: center;
  margin: auto;
}

.carousel-item {
  height: 80vh !important;
}

.myform {
  border: 4px solid white;
  border-radius: 20px;
  width: 55vw;
  text-align: center;
}
h1 {
  text-align: center;
}
hr {
  border: 0.5px solid rgba(255, 255, 255, 0.39);
}

div a {
  color: white;
  font-weight: 700;
  font-size: 3vh;
}
.fas {
  font-size: 4vh;
  margin: 2px 3px;
}
.delete {
  color: black;
  position: absolute;
  left: 95%;
  bottom: 0;
}
#last_seen {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.btn-default {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}
.character-card {
  background-color: antiquewhite;
  width: 90vw;
  margin: 2vh auto;
  height: 144px;
  color: black;
}

.main_stats {
  text-align: left;
  padding: 0% 2%;
  font-size: 2vw;
  width: 25vw;
}

.description {
  width: 40vw;
  text-align: left;
  margin: auto;
}
.foldtr {
  position: relative;
  -webkit-box-shadow: -5px 7px 5px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: -5px 7px 5px rgba(0, 0, 0, 0.8);
  box-shadow: -5px 7px 5px rgba(0, 0, 0, 0.8);
}

.foldtr:before {
  content: "";
  position: absolute;
  top: 0%;
  right: 0%;
  width: 0px;
  height: 0px;
  border-bottom: 70px solid #eee;
  border-right: 70px solid transparent;
  -webkit-box-shadow: -7px 7px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: -7px 7px 7px rgba(0, 0, 0, 0.3);
  box-shadow: -7px 7px 7px rgba(0, 0, 0, 0.3);
}

.foldtr:after {
  content: "";
  position: absolute;
  top: 0%;
  right: 0%;
  width: 0px;
  height: 0px;
  border-top: 69px solid #1e1e1e;
  border-left: 69px solid transparent;
}
.character-img {
  background-image: url("/static/assets/mf.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-right: 1px solid black;
  width: 144px;
  height: 144px;
}

.stat-block {
  text-align: left;
}

#ci1 {
  background-image: url("/static/assets/spider.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#ci2 {
  background-image: url("/static/assets/party.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#ci3 {
  background-image: url("/static/assets/tinder.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.clear {
  opacity: 0;
}

/* library Grid */

.square {
  float: left;
  position: relative;
  width: 30%;
  padding-bottom: 30%; /* = width for a 1:1 aspect ratio */
  margin: 1.66%;
  background-color: #1e1e1e;
  overflow: hidden;
}

.content {
  position: absolute;
  height: 90%; /* = 100% - 2*5% padding */
  width: 90%; /* = 100% - 2*5% padding */
  padding: 5%;
}
.table {
  display: table;
  width: 100%;
  height: 100%;
}
.table-cell {
  display: table-cell;
  vertical-align: middle;
}

/*  For responsive images */

.content .rs {
  width: auto;
  height: auto;
  max-height: 90%;
  max-width: 100%;
}
/*  For responsive images as background */

.bg {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; /* you change this to "contain" if you don't want the images to be cropped */
  color: #fff;
}

.img1 {
  background-image: url("/static/assets/firebolt.gif");
}
.img2 {
  background-image: url("/static/assets/feats.webp");
}
.img3 {
  background-image: url("/static/assets/class.gif");
}
