{% extends 'base.html' %}
{% block body %}
<div class="main">
    <div class="jumbotron">
        <h1>This is the Library</h1>
    </div>
    <div class="cat" style="background-color: azure;">Category tag</div>
    <div class="article" style="background-color:antiquewhite; margin-bottom: .2em;">This is random info</div>
    <div class="article" style="background-color:antiquewhite; margin-bottom: .2em;">This is random info</div>
    <div class="article" style="background-color:antiquewhite; margin-bottom: .2em;">This is random info</div>
    <div class="article" style="background-color:antiquewhite; margin-bottom: .2em;">This is random info</div>
    <div class="article" style="background-color:antiquewhite; margin-bottom: .2em;">This is random info</div>
    <div class="article" style="background-color:antiquewhite; margin-bottom: .2em;">This is random info</div>

</div>

{% endblock %}