{% extends 'base.html' %}
{% block body %}
<div class="main">
    <div class="jumbotron">
        <h1>This is the Library</h1>
    </div>
    <div class="square bg img1">
        <div class="content">
            <div class="table">
                <div class="table-cell">
                    Spells
                </div>
            </div>
        </div>
    </div>
    <div class="square bg img2">
        <div class="content">
            <div class="table">
                <div class="table-cell">
                    Feats
                </div>
            </div>
        </div>
    </div>
    <div class="square bg img3">
        <div class="content">
            <div class="table">
                <div class="table-cell">
                    Races
                </div>
            </div>
        </div>
    </div>
    {% endblock %}