<div class="character-card foldtr row">
    <a href="{{ url_for('main.user', username=sheet.author.username) }}">
        <div class='character-img'>
            <img src="{{ sheet.author.avatar(144) }}">
        </div>
    </a>
    <div class='main_stats'>
        <p>{{ sheet.character_name }}</p>
        <p>Level: {{ sheet.level }} {{ sheet.race }} {{ sheet.job }}</p>
    </div>
    <div class="description">
        <p><strong>Description: </strong> {{ sheet.body }}</p>
    </div>
    <div>
        {% if sheet.author.id == current_user.id %}
        <p class="delete"><a href="{{ url_for('main.delete', id=sheet.id) }}"><i class="far fa-trash-alt"></i></a></p>
        {% else %}
        <p>Created by: <a
                href="{{ url_for('main.user', username=sheet.author.username) }}">{{ sheet.author.username }}</a>
        </p>
        <p>Last modified: {{ moment(sheet.timestamp).fromNow() }}:</p>
        {% endif %}
    </div>
</div>