{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block body %}
<h1>Hi, {{ current_user.username }}</h1>
{% if form %}
{{ wtf.quick_form(form) }}
<br>
{% endif %}

{% if sheets %}
{% for sheet in sheets %}
{% include 'partials/character_block.html' %}
{% endfor %}
{% else %}
<h1>No Character Sheets to Display!</h1>
{% endif %}


{% if prev_url %}
<a href="{{ prev_url }}">Newer Sheets</a>
{% endif %}
{% if next_url %}
<a href="{{ next_url }}">Older Sheets</a>
{% endif %}

{% endblock %}